body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f5f5;
}

.header-big {
    font-family: 'Bungee', cursive;
    font-size: 30px;
}

.header-small {
    font-family: 'Bungee', cursive;
    font-size: 18px;
    line-height: 36px;
}

.card {
    border: 1px solid darkgrey;
    background-color: #ededed;
    margin: 10px;
    padding: 0px 10px 20px 10px;
}
